/* GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8dbd3;
  padding: 2% 0;
  overflow: hidden;
}

/* BACKGROUND */
#green-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #089a8b;
  min-height: 100px;
  z-index: 500;
}

/* APP GENERAL */
#app-container {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  background-color: #eaeaea;
  z-index: 900;
  position: relative;
}
#app-container::after {
  display: table;
  clear: both;
  content: "";
}
#app-left, #app-right {
  float: left;
  height: 100%;
}
#app-left {
  width: 30%;
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
}
#app-right {
  width: 70%;
  background-color: lightgreen;
}

/* APP LEFT */
#app-left > div {
  background: lightseagreen;

  /* debug */
  height: calc(100% / 4);
}
#app-left .user-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-profile > .left,
.user-profile > .right {
  background-color: lime;
  height: 50px;
  flex-basis: 50%;
}



/* APP RIGHT */
