/* REGOLE GENERALI */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8dbd3;
  padding: 2% 0;
  overflow: hidden;
}

/* BACKGROUND */
#green-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #089a8b;
  min-height: 100px;
  z-index: 500;
}

/* APP */
#app-container {
  width: 80%;
  height: 90vh;
  margin: 0 auto;
  background-color: #eaeaea;
  z-index: 900;
  position: relative;
}
#app-container::after {
  display: table;
  clear: both;
  content: "";
}
#app-left, #app-right {
  float: left;
  height: 100%;
}
#app-left {
  width: 30%;
  background-color: lightcoral;
}
#app-right {
  width: 70%;
  background-color: lightgreen;
}