<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
  <title>Vue Js - Boolzapp</title>
</head>
<body>
  
  <div class="container">

    <!-- GREEN BAR -->
    <div id="green-bar"></div>
    
    <!-- APP -->
    <div id="app-container">

      <!-- LEFT SIDE -->
      <div id="app-left">

        <!-- USER LE BAR -->
        <div class="user-profile">

          <div class="left">
            <div class="profile-pic">
              <img src="img/avatar_io.jpg" alt="">
            </div>
            <div class="username"><h4>Nome Utente</h4></div>
          </div>

          <div class="right">
            <i class="fas fa-circle-notch"></i>
            <i class="fas fa-comment-alt"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- NOTIFICATIONS -->
        <div id="notifications">
          <div class="icon"><i class="fas fa-bell-slash"></i></div>
          <div class="info">
            <h3>Ricevi notifiche di nuovi messaggi</h3>
            <a href="#">Attiva notifiche desktop</a>
          </div>
        </div>

        <!-- SEARCH BOX -->
        <div id="search-box">
          <i class="fas fa-search"></i>
          <input v-model="searchInput" type="text" placeholder="Cerca o inizia una nuova chat">
        </div>

        <!-- RECENT CHAT -->       
        <div id="recent-chat">

          <div v-if="item.nome.includes(searchInput)" v-for="(item, indexChat) in chatList" class="chat" :class="indexChat === indexActive ? 'active' : ''" @click="changeChat(indexChat)">
            <div class="left">
              <div class="profile-pic">
                <img :src="item.profilePic" alt="profile">
              </div>
              <div class="info">
                <h3> {{ item.nome }} </h3>
                <span class="last-msg">{{ item.messaggi[item.messaggi.length-1].testo }}</span>
              </div>
            </div>  
            <div class="right">
              <span>{{ item.messaggi[item.messaggi.length-1].date }}</span>
            </div>
          </div>
          
        </div>
      </div>
      

      <!-- RIGHT SIDE -->
      <div id="app-right" v-if="isActiveChat">

        <div class="user-profile">

          <div class="left">
            <div class="profile-pic">
              <img :src="chatList[indexActive].profilePic" alt="">
            </div>
            <div class="username">
              <h4> {{ chatList[indexActive].nome }}</h4>
              <span>Ultimo accesso
                <span> {{ chatList[indexActive].messaggi[chatList[indexActive].messaggi.length-1].date }} </span>
              </span>
            </div>
          </div>

          <div class="right">
            <i class="fas fa-search"></i>
            <i class="fas fa-paperclip"></i>
            <i class="fas fa-ellipsis-v"></i>
          </div>

        </div>

        <!-- CURRENT CHAT -->
        <div class="current-chat">

         <div v-for="el in chatList[indexActive].messaggi">
            <div :class="el.mioMessaggio ? 'message-sent' : 'message-received' ">
              <p>{{ el.testo }}</p>
              <span>{{ el.date }}</span>
            </div>
          </div>
          
        </div>

        <!-- TYPE MESSAGE BAR -->
        <div id="message-bar">

          <i class="far fa-smile"></i>
          <input v-model="yourMessage" @keyup.enter="sendMessage" type="text" placeholder="Scrivi un messaggio">
          <i class="fas fa-microphone" @click="sendMessage"></i>

        </div>

      </div>

      <div id="no-active-chat" v-else="isActiveChat">
        <h1 style="text-align: center;">CLICCA UNA CHAT PER INIZIARE</h1>
      </div>
      

    </div>
  </div>
  
  <script src="js/app.js"></script>
</body>
</html>